.arrows {

    &__container {

        max-width: 825px;
        margin: 0 auto;
        
    }

    &__left {

        max-width: 40px;
        height: 40px;
        border: 1px solid blue;
        margin-right: 5px;

    }

    &__a {

        padding: 15px 18px 15px 17px;

    }

    &__right {

        max-width: 40px;
        height: 40px;
        border: 1px solid gray;

    }

    &__b {

        padding: 15px 17px 15px 18px;

    }

    &__content {

        display: flex;

    }
}