.information {
    margin-top: 100px;
    &__container {
        max-width: 825px;
        margin: 0 auto;
    }
    &__box {
        max-width: 428px;
        height: 200px;
        background: black;
        margin-bottom: 100px;
    }
    &__description{
        @include font (400, 13px, $text-white);
        max-width: 348px;
        height: 124px;
        padding: 30px 40px 46px 40px;
    }
}