.projects {
    margin-top: 100px;
    position: relative;

    &__title {
        margin-bottom: 20px;
        @include font (700, 30px, $text-Black);
    
    }

    &__description {
        @include font (300, 16px, $text-Black);
       
    }

    &__box {
        max-width: 428px;
        height: 200px;
        background: #ffffff;
        margin-top: 100px;
        position: absolute;
    }

    &__info {
        padding: 30px 40px 46px 40px;
        max-width: 348px;
        height: 124px;
        @include font (400, 13px, $text-Black, 22px);
    }

    &__arrows {
        margin-top: 47px;
        display: flex;
        position: absolute;
        bottom: 0;
    }

    &__arrowL {
        max-width: 40px;
        height: 40px;
        border: 1px solid #0F4898;
        margin-right: 5px;
        cursor: pointer;
        z-index: 1;
        background-color: F4F4F4;
        margin-left:20px;
    }

    &__arrow {
        padding: 15px 18px 15px 17px;
    }

    &__arrowR {
        max-width: 40px;
        height: 40px;
        border: 1px solid #585858;
        cursor: pointer;
        z-index: 1;
        background-color: F4F4F4;
    }

    &__arrow2 {
        padding: 15px 18px 15px 17px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

}

@media screen and (max-width:768px){
    .projects {
        padding: 0px 20px 0px 20px;
        &__arrowL {
            margin-bottom: -15px;
        }
    }
    
}

@media screen and (max-width:838px){
    .projects{
        &__arrowL{
            margin-left: 20px;
        }
        
        &__content {
            margin: 0px 20px 0px 5px;
        }
    }
}

@media screen and (max-width:838px){
    .projects{
        &__left{
            height: 440px;
        }
        &__photo {
            max-width: 440px;
        }
}
}

@media screen and (max-width:728px) {
    .projects {
        &__arrowL {
            margin-left: 5px;
        }
    }
}